{% extends '@EasyAdmin/welcome.html.twig' %}

{% block page_title %}Dashboard suivi ventes et objectifs{% endblock %}
{% block page_content %}
    <div class="text-right">
        <a class="btn btn-secondary" href="{{ path('export_sales', {month: month}) }}" target="_blank">
            <i class="fa fa-file-export"></i>
            Export XLS
        </a>
    </div>

    {{ form(formMonthAvailable) }}

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <tr>
                <th>Vendeur</th>
                <th>Nombre ventes</th>
                <th>Montant € HT</th>
                <th>Montant € TTC</th>
                <th>Commission (€)</th>
                <th>Taux objectif (%)</th>
                <th>Objectif € HT</th>
            </tr>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.vendor.name }} {{ sale.vendor.department }}</td>
                    <td>{{ sale.sales|length }}</td>
                    <td>{{ sale.goalVo.amount }}</td>
                    <td>{{ sale.goalVo.amountTaxes }}</td>
                    <td>{{ sale.goalVo.commission }}</td>
                    <td>{{ sale.goalVo.rateGoal|round(2) }}</td>
                    <td>{{ sale.goalVo.maxGoal }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}